/* font selection */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared color */
.text-primary{
    color: #FD6E0A;

}


.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.dark-2{
    color:#474747
}
.dark-3{
    color:#757575
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    padding: 18px 35px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    border-color: transparent;

}
.banner-greetings{
    font-size: 45px;
    font-weight:700;
    
}
.banner-name{
    font-size: 70px;
    margin-top: -50px;
}
.banner{
    display:flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}
.banner-profile-pic{
    width: 540px;
}
.banner-description{
    font-size: 18px;
    margin-top: -30px;
    margin-bottom: 30px;
}

.bannner-container{
    max-width: 545px;
    
}
.header{
    background-image: url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat:no-repeat;
    background-position: top left, bottom right;
    overflow: auto;
    
    
}
#btn-download{
    margin-right: 30px;
}